services:
  # Postgres
  db:
    image: postgis/postgis
    platform: linux/amd64
    container_name: postgres-db-facturacion
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5442:5432'
    volumes:
      - facturacion-db-data:/var/lib/postgresql/data
      - ./Docker/init_db.sh:/docker-entrypoint-initdb.d/01_init_db.sh

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container_facturacion
    restart: always
    ports:
      - "5055:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@phm.edu.ar
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - pgadmin-data:/var/lib/pgadmin

  # Servicio de RabbitMQ: el broker de mensajería
  rabbitmq:
    image: rabbitmq:3-management # Usamos la imagen con el plugin de Management
    container_name: rabbitmq-broker-fumigacion

    ports:
      # Puerto estándar de AMQP (para que se conecten Spring Boot y Node.js)
      - "5672:5672"
      # Puerto de la interfaz de administración web (para ver colas y mensajes)
      - "15672:15672"

    environment:
      # Definimos credenciales simples por defecto para desarrollo
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
      # Define el host virtual por defecto que usaremos
      RABBITMQ_DEFAULT_VHOST: /

    # Policy: reinicia automáticamente si el contenedor se detiene por un error
    restart: unless-stopped

    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 30s
      retries: 3

volumes:
  facturacion-db-data: {}
  pgadmin-data: {}